.footer-container{
  background-color: #342a29;
  color: white;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: right;
}

.sitemap:first-of-type{
    grid-column-start: 2;
}

.mobile-footer{
  display: none;
}

@media only screen and (max-width: 600px) {
  .footer-container{
    display: flex;
    justify-content: center;
  }
  .sitemap{
    display: none;
  }
  .mobile-footer{
    font-size: 12px;
    display: flex;

  }
}